#FindMinMax Project
Biweekly_Practice_Programming_Task_1/FindMinMax/.idea/
Biweekly_Practice_Programming_Task_1/FindMinMax/out/

#FindTwoMins Project
Biweekly_Practice_Programming_Task_2/FindTwoMins/.idea/
Biweekly_Practice_Programming_Task_2/FindTwoMins/out/